html, body { height: 100%; width: 100%; }
body {
    background-color: #120c0e; /* For browsers that do not support gradients */
    background-image: linear-gradient(120deg, rgba(85, 84, 84, 0.541), rgba(18, 12, 14, 0.96),rgba(18, 12, 14, 0.6629));
    margin: 0%;
    background-repeat: no-repeat;
}
.nav_list * {
    display: inline-block;
    text-decoration: none;
    font-size: 2vw;
    color: white;
}
.nav_list a {
    padding: 40px;
}
#about_page {
    color: #FF9500;
}
.nav_bar {
    text-align: center;
    padding-top: 3% ;
}
#logo1 {
    width: 15%;
}
.nav_list *:hover {
    text-decoration: underline;
}
#menu_icon, #logo_drp {
    display: none;
}
.dropdown-content{
    display: none;
}
/*styleing the "about_us_text"*/
.about_us_text {
    width: 50%;
    margin: auto;
    font-size: 2.5vh;
    color: rgb(253, 253, 253);
    line-height: 40px;
    text-align: center;
    margin-top: 50px;
}
.about_us_text h1 {
    color: rgba(255, 255, 255, 0.466);
}
#foto_about_us {
    width: 100%;
    margin-top: 50px;
    height: 80%;
    object-fit:cover;
}
/*styleing the CEO and Founder part*/
.ceo_founder {
    padding-left: 10%;
}
.founder {
    float: right;
    width: 50%;
}
.text_founder {
    width: 30%;
    font-size: 130%;
    color: rgb(214, 214, 214);
    float: right;
    margin-right: 24%;
    margin-top: 10%;
}
#foto_founder {
    border-radius: 50%;
    width: 25%;
    margin:10%;  
    margin-bottom: 0%; 
}
.founder p {
    color:white;
    width: 30%;
    text-align: center;
    margin-left: 8%;
    font-size: 130%;
}
.ceo{
    width: 50%;
}
.text_ceo{
    width: 30%;
    font-size: 130%;
    color: rgb(214, 214, 214);
    float: right;
    margin-right: 24%;
    margin-top: 10%;
}
#foto_CEO {
    border-radius: 50%;
    width: 25%;
    margin:10%;  
    margin-bottom: 0%;  
}
.ceo p {
    color:white;
    width: 30%;
    text-align: center;
    margin-left: 8%;
    font-size: 130%;
}
/* styling the footer */
footer {
    background-color: #120C0E;
    display: flex;
    color: rgb(214, 214, 214);
    border-top: 1px solid #FF9500;
    width: 100%;
    margin-top: 50px;
}
/*i will start with "happy clients" section*/
.happy_clients {
    text-align: center;
    width: 33.3%;
}
/*i will start with "happy clients" section*/
.social-media img {
    width: 15%;
    padding: 20px;
}
.social-media {
    text-align: center;
    width: 33.3%;
}
.social-media h2 {
    padding-bottom: 15%;
}
/*i will start with "contact_box" section*/
.contact-box {
    width: 27%;
}
.contact-box *{
    display: block;
}
.contact-box h2 {
    text-align: center;
}
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    box-shadow: 2px 2px 5px gray;
    border: none;
    font-size: 100%;
    resize: vertical;
}
#submit_btn {
    margin-top: 20px;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
    color: #FF9500;
    font-size: 120%;
    box-shadow: 2px 2px 5px gray;
    background-color: #3D3938;
}
#submit_btn:hover {
    background-color: #686362 ;
}
#copyright {
    text-align: center;
    color: white;
    background-color: #383536;
}
#status{
    font-size: 25px;
    color: white;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    border-radius: 8px;   
}
#status.success {
    background-color: rgba(191, 255, 95, 0.164);
    animation: status 4s ease forwards;
}
#status.error {
    background-color: rgba(255, 44, 44, 0.164);
    animation: status 4s ease forwards;
}
@keyframes status {
    0%{
       opacity: 1;
       pointer-events: all; 
    }
    90%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}

@media only screen and (max-width: 768px) {
    .nav_bar {
        display: none;
    }
    .nav_bar {
        display: none; 
    }
    #menu_icon {
        display: block;
        width: 7%;
        float: right;
        margin: 8%;
        margin-left: 0%;
        position: absolute;
        right: 0%;
        min-width: 70px;
    }
    .dropdown {
        width: 100%;
    }
    .dropdown-content {
        position:absolute;
        right: 0%;
        margin-top:120px;
    }
    .dropdown-content a{
        display: block;
        font-size: 4vw;
        text-decoration: none;
        background-color: #f9f9f9;
        width: 17vw;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    #logo_drp {
        display: block;
        padding-top: 5%;
        width: 20%;
        min-width: 150px;
        margin: auto;
    }
    .about_us_text {
        width: 80%;
    }
    #foto_founder, #foto_CEO {
        width: 30%;
    }
    .founder, .ceo {
        width: 100%;
    }
    .ceo_founder {
        padding-left: 0%;
    }
    .founder p, .ceo p {
        margin: 0%;
        padding-left: 50px;
    }   
}
@media only screen and (max-width: 1024px) {
    .founder, .ceo {
        float: none;
        margin: auto;
    }
    .founder p, .ceo p {
        width: 80%;
        padding-top: 30px;
        text-align: left;
        padding-right: 20px;
    }
    .text_founder, .text_ceo {
        margin-right: 10%;
        margin-left: 10%;
    }
}

@media only screen and (max-width: 1252px) {
    footer {
        display:block; 
    }
    .contact-box, .happy_clients, .social-media {
        margin:auto;
        width: 80%;
    }
}
@media only screen and (max-width: 550px) {
    .contact-box {
        width: 80%;
    }
    .social-media {
        width: 100%;
    }
    .dropdown-content {
        margin-top:110px;
    }
}