html {
    height: 100%;
}
body {
    background-color: #D7D7D7;
    background-size: cover;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}
.conteiner1 {
    background-image: url(fotos/bkg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
/* here i styled the nav_bar*/
#menu_icon, #logo_drp {
    display: none;
}
.dropdown-content{
    display: none;
}
.nav_list * {
    display: inline-block;
    text-decoration: none;
    font-size: 2vw;
    color: white;
}
.nav_list a {
    padding: 40px;
}
#motto {
    color: #FF9500;
}
.nav_bar {
    text-align: center;
    padding-top: 3% ;
}
#logo1 {
    width: 15%;
}
.nav_list *:hover {
    text-decoration: underline;
}
/*from here starts the text from the first page*/
.motto {
    text-align: center;
    font-size: 8vw;
    padding-bottom: 5%;
    padding-top: 5%;
}
#p_motto1 {
    margin: 0%;
    padding-right: 20%;
    font-weight: bold;
    text-shadow: -1px -1px 0 #FF9500, 1px -1px 0 #FF9500, -1px 1px 0 #FF9500, 1px 1px 0 #FF9500;
}
#p_motto2 {
    margin: 0%;
    padding-left: 20%;
    color: #FF9500;
    font-size: 120%;
    font-weight: 900;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
/*now we start fo style the second part of the page*/
.conteiner2 h1 {
    text-align: center;
    font-size: 4vw;
    margin-bottom: 5%;
}
.conteiner2 h1 p {
    color: #E09224;
    margin: 0%;
}
/*from here we style the first tile and text*/
.tile1 {
    width: 65vw;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}
#foto_tile1 {
    width: 320px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
    margin-right: 15px;
}
.text_tile1 {
    width: 20vw;  
    display: inline-block;
    text-align:left ;
    position: relative;
    line-height: 25px;
    margin-left: 15px;
    font-weight:bolder;
    font-size: 0.9vw;
}
#title_tile1 {
    width: fit-content; 
}

/*from here we style the second tile and text*/
.tile2 {
    width: 65vw;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}
#foto_tile2 {
    width: 320px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
    margin-right: 15px;
}
.text_tile2 {
    width: 20vw;  
    display: inline-block;
    text-align:left ;
    position: relative;
    line-height: 25px;
    margin-right: 20px;
    font-weight:bolder;
    font-size: 0.9vw;
}
#title_tile2 {
    width: fit-content; 
}
/*from here we style the third tile and text*/
.tile3 {
    width: 65vw;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}
#foto_tile3 {
    width: 320px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
    margin-right: 15px;
}
.text_tile3 {
    width: 20vw;  
    display: inline-block;
    text-align:left ;
    position: relative;
    top: -15px;
    line-height: 25px;
    margin-left: 15px;
    font-weight:bolder;
    font-size: 0.9vw;
}
#title_tile3 {
    width: fit-content; 
}
/*Now i started styleing the footer*/
footer {
    padding: 3%;
    background-color: #C4C4C4;
    display: flex;
}
/*i will start with "happy clients" section*/
.happy_clients {
    text-align: center;
    width: 33.3%;
    margin: 0 auto;
}
/*i will start with "happy clients" section*/
.social-media img {
    width: 15%;
    padding: 20px;
}
.social-media {
    margin:0 auto;
    text-align: center;
}
/*i will start with "contact_box" section*/
.contact-box {
    width: 500px;
}
.contact-box *{
    display: block;
}
.contact-box h2 {
    text-align: center;
}
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    box-shadow: 2px 2px 5px gray;
    border: none;
    font-size: 100%;
    resize: vertical;
}
#submit_btn {
    margin-top: 20px;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
    color: #FF9500;
    font-size: 120%;
    box-shadow: 2px 2px 5px gray;
    background-color: #3D3938;
}
#submit_btn:hover {
    background-color: #686362 ;
}
#copyright {
    text-align: center;
}
#status{
    font-size: 25px;
    color: white;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    border-radius: 8px;   
}
#status.success {
    background-color: rgba(191, 255, 95, 0.164);
    animation: status 4s ease forwards;
}
#status.error {
    background-color: rgba(255, 44, 44, 0.164);
    animation: status 4s ease forwards;
}
@keyframes status {
    0%{
       opacity: 1;
       pointer-events: all; 
    }
    90%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}
@media only screen and (max-width: 1520px) {
    footer {
       display:block; 
       border-top: 1px solid #FF9500;
    }
    .contact-box {
        margin:auto
    }
    .happy_clients {
        width: 100%;
    }
    .text_tile3, .text_tile2, .text_tile1 {
        display: block;
        position: initial;
        margin: auto;
        font-size: 120%;
        width: 60%;
        text-align: center;
    }
    .tile2 {
        display: flex ;
        flex-flow: column ;
    }
    #foto_tile2 {
        order: 1;
        margin: auto;
    }
    .text_tile2 {order: 2;}
    #title_tile3, #title_tile2, #title_tile1 {
        margin: auto;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 350px) {
    #menu_icon {
        margin-right: 0% !important;
    }
    .dropdown-content {
        margin-top:100px;
    }
}
@media only screen and (max-width: 768px) {
    .nav_bar {
        display: none; 
    }
    #menu_icon {
        display: block;
        width: 7%;
        float: right;
        margin: 8%;
        margin-left: 0%;
        position: absolute;
        right: 0%;
        min-width: 70px;
    }
    .dropdown {
        width: 100%;
    }
    .dropdown-content a {
        display: block;
    }
    .dropdown-content {
        position:absolute;
        right: 0%;
        margin-top:120px;
    }
    .dropdown-content a{
        font-size: 4vw;
        text-decoration: none;
        background-color: #f9f9f9;
        width: 17vw;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .conteiner2 h1 {
        font-size: 8vw;
    }
    #logo_drp {
        display: block;
        padding-top: 5%;
        width: 20%;
        min-width: 150px;
        margin: auto;
    }
    .text_tile3, .text_tile2, .text_tile1 {
        width: 100%;
    }
    #input_email, #input_message {
        font-size: 110%;
    }
    .motto {
        padding-top: 0%;
        font-size: 11vw;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    #p_motto2 {
        padding-left: 5%;
    }
}
@media only screen and (max-width: 550px) {
    .tile1, .tile2, .tile3 {
        width: 100%;
    }
    .contact-box {
        width: 80%;
        margin:auto;
    }
    .social-media {
        width: 100%;
    }
    .dropdown-content {
        margin-top:110px;
    }

}
    
